<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="shortcut icon" href="./images/favicon.png">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
<div class="container">

    <header>
        <nav class="codrops-demos">
            <a href="/personal">Personal</a>
            <a href="/friends">Friends</a>
            <a href="/search" class="current-demo">Search</a>
            <a href="/setting">Setting</a>
            <a href="/logout"><img src="./images/lock-icon.png">Log out</a>
        </nav>
    </header>

    <section>
        <div id="container_demo">
            <div id="wrapper">

                <div class="animate form">

                    <h1>Search Result</h1>

                    {% for document in documents %}
                        {% if userId != document._id %}
                            <a class="card" href="/personal?id={{document._id}}">
                                <div>
                                    <span class="label">Name : </span>
                                    <span class="label-value">{{document._source.name}}</span>
                                </div>
                                <div>
                                    <span class="label">Email : </span>
                                    <span class="label-value">{{document._source.email}}</span>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}

                </div>

            </div>
        </div>
    </section>
</div>

</body>
</html>