<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="shortcut icon" href="./images/favicon.png">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
<div class="container">

    <header>
        <nav class="codrops-demos">
            <a href="/personal">Personal</a>
            <a href="/friends">Friends</a>
            <a href="/search" class="current-demo">Search</a>
            <a href="/setting">Setting</a>
            <a href="/logout"><img src="./images/lock-icon.png">Log out</a>
        </nav>
    </header>

    <section>
        <div id="container_demo">
            <div id="wrapper">

                <div class="animate form">
                    <form action="/result" autocomplete="on" method="post">
                        <h1>Search</h1>

                        <p>
                            <label for="namesearch">Name</label>
                            <input id="namesearch"
                                   name="name"
                                   type="text"
                                   placeholder="name" >
                        </p>

                        <p>
                            <label for="emailsearch">Email</label>
                            <input id="emailsearch"
                                   name="email"
                                   type="email"
                                   placeholder="mail@mail.com" >
                        </p>

                        <p class="button-container">
                            <input type="submit" value="Search">
                        </p>

                    </form>
                </div>

            </div>
        </div>
    </section>
</div>

</body>
</html>